# Dependências (nunca envie esta pasta)
node_modules/

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Pastas de ambiente/segredo (caso você use .env no futuro)
.env
.env.local